body {
    background-image: url("img/butterflies.jpg");
    background-size: cover;
}

.head {
    color: #FFF;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    font-weight: bold; 
}

.main {
    color: #FFF;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
